NODE_ENV=development

PORT=5001

MONGO_URI=mongodb://localhost:27017/educore_sms

CLIENT_URL=http://localhost:5173

JWT_SECRET=replace-with-at-least-32-random-characters

JWT_REFRESH_SECRET=replace-with-another-at-least-32-random-characters